<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron">
			<form class="form-inline">
			    <div class="form-group">
			    	<h4>Search by product name, price or description</h4>
			        <input type="email" class="form-control input-lg search" id="inputSearch" placeholder="eg: Micromax, Samsung..." ng-model="searchtx">
			    </div>		    
			</form>
			</div>
			<div class="table-responsive proddisp">
			<table class="table">
				<tr>
					<th class="text-left">Product Image</th>
					<th class="text-left">Description</th>
					<th class="text-left">Add to Cart</th>
					<th class="text-left">Buy Now</th>
				</tr>
				<tr ng-repeat="prod in products | filter: searchtx">
					<td>
						<img ng-src="{{prod.imgurl}}" width="100px" height="150px">
					</td>
					<td>
						<ul>
						<li>Name: {{prod.prodname}}</li>
						<li>Price: {{prod.price}}</li>
						<li>Desc: {{prod.desc}}</li>
						</ul>
					</td>					
					<td>
						<button class="btn btn-small btn-success">Add to Cart</button>
					</td>
					<td>
						<button class="btn btn-small btn-success" ng-click="buynow($index)">Buy Now</button>
					</td>
				</tr>
			</table>
			</div>
	</div>
</div>